* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
} // for some browsers

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: $minwidth;
    position: relative;
    color: $mainfontcolor;
    overflow-x: hidden;
}
body {
    line-height: 1;
    font-size: $mainfontsize;
    font-family: $mainfont;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    &.lock {
        overflow: hidden;

        @media (max-width: #{$md3}) {
            width: 100%;
            position: fixed;
            overflow: hidden;
        }
    }
}

input,
button,
textarea {
    font-family: $mainfont;
}

input::-ms-clear {
    display: none;
} // removes a cross in IE in inputs
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
} // removes all extra paddings in Moz
a {
    color: inherit;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
